.DS_Store
node_modules
/dist

# Backend-specific ignores
/backend/node_modules/
/backend/uploads/
/backend/showroom_uploads/

# Frontend-specific ignores
/frontend/node_modules/
/frontend/dist/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules

# Operating system files
Thumbs.db
ehthumbs.db
Desktop.ini